<div class="form-container">
  <h1>Submit form</h1>
  <form #myForm="ngForm" (ngSubmit)="submitForm(myForm)">
    <div class="inputbox">
      <span>Name</span>
      <input type="text" name="name" [(ngModel)]="name">
    </div>

    <div class="inputbox">
      <span>Email</span>
      <input type="email" name="email" [(ngModel)]="email">
    </div>

    <div class="inputbox">
      <span>Country</span>
      <select name="country" [(ngModel)]="country">
        <option value="">Select a country</option>
        <ng-container *ngFor="let country of countries">
          <option [value]="country">{{ country}}</option>
        </ng-container>
      </select>
    </div>

    <div class="inputbox">
      <span>City</span>
      <select name="country" [(ngModel)]="city">
        <ng-container *ngFor="let city of getCountriesById(country)">
          <option [value]="city">{{city}}</option>
        </ng-container>
      </select>
    </div>
  
    <div class="inputbox">
      <button type="submit">Submit</button>
      <button type="button" (click)="resetValue(myForm)">Reset</button>
    </div>
  </form>
</div>